<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="index.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
</head>
<body>
<h1>Lista de Productos</h1>
    <ul>
        {{#each products}}
            <li>
                <h3>{{title}}</h3>
                <p>{{description}}</p>
                <p>Código: {{code}}</p>
                <p>Precio: ${{price}}</p>
                <p>Stock: {{stock}}</p>
                <p>Categoría: {{category}}</p>
                <ul>
                    {{#each thumbnails}}
                        <li><img src="{{this}}" alt="Thumbnail"></li>
                    {{/each}}
                </ul>
            </li>
        {{/each}}
    </ul>

<script src="/socket.io/socket.io.js"></script>
<script src="index.js"></script>
</body>
</html>